:root {
  --primary-color: #222222;
  --primary-text-color: #bbb;

  --primary-font: 'Karla', sans-serif;
  --secondary-font: 'Open sans', sans-serif;
  --primary-btn-bg-color: #a5a5a5;
  --primary-btn-color: #222222;
}
