.header {
    display: flex;
    //justify-content: center;
    align-items: center;
    height: calc(100vh - 10rem);
}

    .header__content {
        font-size: 4rem;

        span {
            font-weight: 800;
        }
    }